.breadcrumbs {
  background-color: rgb(237, 241, 243);
  height: 40px;
}

.breadcrumbs__list {
  list-style-type: none;
  height: 40px;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-child):after {
  content: "|";
  margin: 0 0.2em;
  color: rgba(29, 34, 40, 1);
  font-family: "Nova-400";
  font-size: 14px;
  margin-left: 4px;
}

.breadcrumbs__item {
  .breadcrumbs__link {
    padding-left: 8px;
    font-family: "Nova-400";
    font-size: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(29, 34, 40, 1);
    opacity: 0.5;
    text-transform: capitalize;
  }
}

.breadcrumbs__link[aria-current="page"] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumbs__link[aria-current="page"]:hover,
.breadcrumbs__link[aria-current="page"]:focus {
  text-decoration: none;
}
.breadcrumbs__item.home-page {
  .breadcrumbs__link {
    font-family: "Nova-400";
    font-weight: 400;
    line-height: 40px;
    padding-left: 3px;
    color: rgba(29, 34, 40, 1);
    font-size: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
}

// search result page

.template-search__results {
  .metafields__page-image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    object-fit: cover;
  }

  .card__badge {
    z-index: 2;
    position: fixed;
  }
  .full-unstyled-link {
    color: #1d2228;
    font-family: "Nova-600";
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    padding: 12px 15px;
    position: sticky;
    z-index: 2;
  }
}

.metafields__img_hover {
  overflow: hidden;
  &:hover img {
    transform: scale(1.1);
  }
  .metafields__page-image {
    transition: transform 1.2s ease;
  }
}

.template-search__results {
  @media screen and (min-width: 750px) {
    .grid {
      row-gap: 20px;
    }
  }
  .grid__item.scroll-trigger.animate--slide-in {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  }
  .card.card--card .card__content .card__information {
    margin-bottom: 5px;
  }
  .card-information {
    padding: 0 0 10px 15px;
  }
  .card--card.card--media > .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .price {
    font-family: 'Nova-700';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
