.about-pastor {
  padding-bottom: 111px;
  @media screen and (max-width: 500px) {
    padding-bottom: 80px;
  }
  &__heading {
    &_text {
      font-family: Noto Serif Display;
      font-size: 210px;
      line-height: 286px;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: center;
      text-transform: uppercase;
      background-image: linear-gradient(
        180deg,
        #e5be5e 0%,
        rgba(229, 190, 94, 0) 100%
      );
      -webkit-background-clip: text;
      color: transparent;
      opacity: 12%;
      @media screen and (max-width: 450px) {
        line-height: 166px;
      }
    }
  }
  &__wrapper {
    margin-top: -166px;
    display: flex;
    justify-content: center;
    gap: 90px;
    padding-right: 5px;
    &_photo {
      .photo_img {
        max-width: 550px;
        .image {
          width: 100%;
        }
      }
    }
    &_content {
      max-width: 570px;
      padding-top: 17px;
      .content_heading {
        font-family: Nova-700;
        font-size: 20px;
        letter-spacing: 0;
        margin-bottom: 0px;
        line-height: 18px;
        text-align: left;
        text-transform: uppercase;
      }
      .border-line.on {
        margin-left: 0px;
      }
      .content_text {
        font-family: "Nova-400";
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 0em;
        text-align: left;
        p {
          margin-bottom: 23px;
          margin-top: 0px;
        }
      }
      .content_content {
        font-family: "Nova-300";
        font-size: 20px;
        letter-spacing: 0em;
        text-align: left;
        line-height: 32px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .about-pastor {
    &__wrapper {
      flex-wrap: wrap;
      &_photo {
        width: 100%;
        .photo_img {
          max-width: 1176px;
          .image {
            width: 100%;
          }
        }
      }
      &_content {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .about-pastor {
    &__heading {
      &_text {
        font-size: 23vw;
      }
    }
    &__wrapper {
      margin-top: -17vw;
      gap: 30px;
      &_content {
        .content_text {
          font-size: 44px;
          line-height: 44px;
          p {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
