.attend-the-series {
  @media screen and (min-width: 450px){
    padding: 174px 0 109px 0;
  }
  padding: 174px 0 80px 0;
  &__wrapper {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;

    &_num-navi {
      @include text-style-text-num;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      align-items: center;
    }
    &_heading {
      @include text-style-text-headline-1;
      text-align: center;
      margin-bottom: 50px;
      padding-top: 10px;
      @media screen and (max-width: 500px) {
        font-size: 40px;
        line-height: 45px;
      }
    }
    .inner-box {
      display: flex;
      justify-content: space-between;
      .inner-box__block-content {
        max-width: 500px;
        width: 100%;
        &_title {
          @include text-style-text-sub-title-1;
          margin-bottom: 30px;
        }
        &_heading {
          @include text-style-text-content-3;
          margin-bottom: 30px;
        }
        &_text {
          @include text-style-text-content-3;
          margin-bottom: 30px;
        }
        &_btn-wrap {
          display: flex;
          gap: 31px;
          justify-content: left;
          .my-custom-btn {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0em;
            @media screen and (max-width: 500px) {
              max-width: none;
              width: 100%;
            }
          }
        }
      }
      &__block-events {
        max-width: 520px;
        width: 100%;

        &_item {
          max-width: 520px;
          width: 100%;
          padding: 30px 60px;
          margin-bottom: 10px;
          background-color: #fff;
          box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
          &_date {
            @include text-style-text-date;
            padding: 10px 20px;
            margin-bottom: 20px;
            display: inline-block;
          }
          &_content {
            @include text-style-text-title-2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1136px) {
  .attend-the-series__wrapper {
    .inner-box {
      flex-wrap: wrap;
      justify-content: center;
      gap: 29px;
    }
  }
}
@media screen and (max-width: 480px) {
  .attend-the-series__wrapper {
    .inner-box__block-events_item {
      background-color: #fff;
      margin-bottom: 10px;
      max-width: 520px;
      padding: 30px 15px;
      width: 100%;
    }
  }
}
