.banner-music.index-banner-music {
  .banner-inner-music {
    .page-width {
      .banner-innerr__box {
        max-width: 520px;
        width: 100%;
      }
    }
  }
}

.banner-music {
  .banner-inner-music {
    height: 880px;
    .page-width {
      .banner-music-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 27px;
        padding: 120px 0 120px 0;
      }

      .banner-innerr__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .border-line.on {
          width: 20px;
          margin-left: 0px;
        }
        &_title {
          @include text-style-text-title-1;
          margin-bottom: 15px;
        }
        &_heading {
          max-width: 500px;
          @include text-style-text-headline-1;
          margin-top: 10px;
          margin-bottom: 30px;
        }
        &_text {
          max-width: 625px;
          @include text-style-text-content-1;
          width: 100%;
          opacity: 90%;
          p {
            max-width: 570px;
          }
        }
        .inner_button {
          display: flex;
          justify-content: start;
          margin-top: 50px;
        }
      }
      .banner-innerr__hero-image {
        max-width: 640px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1370px) {
  .banner-music.index-banner-music {
    .banner-inner-music {
      .page-width {
        .banner-innerr__box {
          max-width: 1360px;
          width: 100%;
        }
      }
    }
  }
  .banner-music {
    .banner-inner-music {
      height: auto !important;
      .page-width {
        .banner-music-wrapper {
          flex-wrap: wrap;
          flex-direction: column-reverse;
          align-items: center;
        }

        .banner-innerr__box {
          &_heading {
            width: 100%;
            max-width: 100%;
          }
          &_title {
            margin-top: 14px !important;
            margin-bottom: 11px;
            background-size: 6% 2px;
          }
          &_text {
            width: 100%;
            max-width: 100%;
          }
        }
        .banner-innerr__hero-image {
          padding: 0 0;
          max-width: 1290px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .banner-music {
    .banner-inner-music {
      .page-width {
        .banner-music-wrapper {
          padding: 80px 0px;
          gap: 0px;
        }

        .banner-innerr__box_heading {
          font-size: 30px;
          line-height: 37px;
        }
        .banner-innerr__box {
          .inner_button {
            justify-content: center;
          }
        }
      }
    }
  }
}

.header-wrapper {
  margin-top: 0px;
}
