.join-group {
  padding: 100px 0;
  &__wrapper {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    &_num-navi {
      @include text-style-text-num;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin: 0 auto 16px;
      align-items: center;
    }
    &_heading {
      @include text-style-text-headline-1;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    &_text {
      @include text-style-text-content-1;
      text-align: center;
      margin-bottom: 50px;
    }
    .inner-box__block-content_btn-wrap {
      display: flex;
      gap: 30px;
      justify-content: center;
      .btn-wrap__button {
        .my-custom-btn {
          max-width: none;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .join-group__wrapper {
    .inner-box__block-content_btn-wrap {
      gap: 20px;
    }
    &_text {
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 480px) {
  .join-group__wrapper {
    .inner-box__block-content_btn-wrap {
      flex-wrap: wrap;
      .btn-wrap__button {
        width: 100%;
      }
    }
    .join-group {
      padding: 50px 0 100px 0;
    }
  }
}
