.banner-video {
  padding-top: 80px;
  position: relative;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_heading {
      font-family: 'Nova-700';
      letter-spacing: 0;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      padding-bottom: 28px;
      line-height: 18px;
      text-transform: uppercase;
      p {
        margin: 0px;
      }
    }
    &_content {
      max-width: 880px;
      text-transform: uppercase;
      font-family: "Nova-400";
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 0em;
      text-align: center;
      p {
        margin-top: 0;
        margin-bottom: 0px;
      }
    }
    &_text {
      font-family: "Nova-700";
      font-size: 22px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 10px;
      max-width: 680px;
      margin-top: 10px;
      text-transform: uppercase;
      p {
        margin: 0;
      }
    }
    &_description {
      font-family: "Nova-400";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      max-width: 680px;
      p {
        margin: 0;
      }
    }
    .banner-video__wraper_video-block {
      display: flex;
      z-index: 2;
      @media screen and (min-width: 990px) {
      max-width: 800px;
      position: absolute;
      bottom: -84px;
      }
      width: 100%;
      margin-top: 20px;

      .video-block_wrapper {
        position: relative;
        width: 100%;

        .video__img-box_img {
          width: 100%;
        }
        .img-link-wrapper {
          cursor: pointer;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
.video-container {
  height: 100%;
}
.banner-video.videobann {
  &__wrapper {
    &_text {
      max-width: 685px;
    }
  }
}
@media screen and (max-width: 600px) {
  .banner-video__wrapper_content {
    font-size: 37px;
  }
}


