.header-wrapper .header {
  max-width: 1363px;
}
.header-wrapper.second-background {
  background-color: #fff;
  .header__heading-logo.motion-reduce {
    filter: invert(1);
  }
  .page-menu-inner {
    grid-area: page-menu-inner;
    display: flex;
    margin-right: 3vw;
    &_page {
      &:hover a {
        color: rgba(229, 190, 94, 1);
      }
      a {
        font-family: "Nova-600";
        font-size: 16px;
        letter-spacing: 0em;
        text-transform: uppercase;
      }
    }
  }
}
.cart-count-bubble {
  position: absolute;
  background-color: #5491d6;
  color: #fff;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  bottom: 25px;
  left: 25px;
  line-height: calc(1 + 0.1 / var(--font-body-scale));
}
summary.header__menu-item {
  .wrapper-icon-caret {
    color: #1d2228;
  }
}

.for-rotate-svg[open] summary .icon_caret_custom {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

@media screen and (min-width: 990px) {
details[open] summary .icon_caret_custom {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
}


@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-areas: "heading navigation";
    grid-template-columns: auto minmax(0, 1fr) auto auto;
    column-gap: 15rem;
  }
}
.header__menu-item.list-menu__item.link.link--text.focus-inset {
  color: #fff;
  font-family: "Nova-600";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0em;
}
.header__inline-menu.second-color {
  .header__menu-item.list-menu__item.link.link--text.focus-inset {
    color: #000;
  }
}

.custom-header {
  .header__inline-menu {
    width: 100%;
  }
}
.menu-drawer-container {
  display: none !important;
}
.header-wrapper.second-background {
  .header--middle-left .header__heading-link,
  .header--top-left .header__heading-link {
    margin-left: 1.85rem;
  }
}
@media screen and (min-width: 1190px) {
  .header-wrapper.color-background-1.gradient {
    .custom-header.header {
      .header__inline-menu {
        > .list-menu {
          column-gap: 50px !important;
          padding-right: 94px !important;
        }
      }
    }
  }
}

@media screen and (min-width: 990px) {
  a.header__active-menu-item,
  a.header__menu-item.list-menu__item.link.link--text.focus-inset {
    font-weight: 600;
    font-family: "Nova-600";
    letter-spacing: 0;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0px;
    color: #fff;

    &:hover {
      color: rgba(229, 190, 94, 1);
      text-decoration: none;
    }
  }
  .header-wrapper.second-background {
    a.header__active-menu-item,
    a.header__menu-item.list-menu__item.link.link--text.focus-inset {
      color: #1d2228;
      &:hover {
        color: rgba(229, 190, 94, 1);
        text-decoration: none;
      }
    }
  }
  .header__submenu.list-menu {
    margin-top: 15px;
    width: 291px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 0px !important;
    border: none;

    li {
      overflow: hidden;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 5px;
        height: 19px;
        background: #5491d6;
        transform: translateX(-100%);
        transition: trancform 0.3s ease-out;
      }

      &:hover {
        &::before {
          transform: translateX(0);
        }
      }
    }

    a.header__menu-item.list-menu__item.link.link--text.focus-inset {
      color: #1d2228;
      padding: 10px 30px;

      &:hover {
        color: #5491d6;
      }
    }
  }

  details[open] > .header__menu-item {
    text-decoration: none;
  }
  summary.header__menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px !important;
    span {
      height: 16px;
      color: #fff;
      transition: color 0.3s;
    }
  }
  details[open] summary.header__menu-item span {
    color: rgba(229, 190, 94, 1);
  }
  .header-wrapper.color-background-1.gradient {
    .custom-header.header {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      max-width: 1837px;
      padding: 30px;
      .header__inline-menu {
        flex: 1 0 0;
        > .list-menu {
          display: flex;
          gap: 20px 18px;
          justify-content: center;
          > li:last-child {
            display: none;
          }
        }
      }
    }
  }
  .header__icons {
    gap: 30px;
  }
}

@media screen and (max-width: 990px) {
  .header-wrapper {
    background-color: rgba(29, 34, 40, 1);
  }
  .header-wrapper.second-background {
    .page-menu-inner {
      display: none;
    }
    .icon-hamburger {
      fill: #000;
    }
  }

  .custom-header {
    .page-menu-inner {
      display: none;
    }
  }
  .menu-drawer-container {
    display: block !important;
  }
  .menu-drawer-container {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .header-wrapper {
    margin-top: -1px;
    .header__heading-link {
      padding: 5px 9px 5px 5px;
    }
  }
  .header {
    padding: 10px 16px 9px 20px !important;
  }
  .header__heading-logo {
    max-width: 74% !important;
  }
}

//

@media screen and (min-width: 990px) {
  .second-background{
  summary.header__menu-item span {
    color:  #1d2228;

  }
  summary.header__active-menu-item{
    color:  #1d2228;
  }
}
}
