.section-banner-slider {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  .slideshow.banner {
    min-height: unset;
  }
  .slideshow {
    &__media {
      &.banner__media {
        position: absolute;
        height: 100% !important;
      }
    }
    .banner {
      &__content {
        max-width: 1360px;
        justify-content: center;
        flex-wrap: wrap-reverse;
        gap: 23px 0;
        padding: 40px 35px 100px;
        margin: 0 auto;
        @media (min-width: 1024px) {
          padding: 111px 35px 49px;
        }
      }
      &__box {
        width: 100%;
        height: auto !important;
        max-width: unset;
        align-items: center;
        text-align: center;
        padding: 0;
        @media (min-width: 1024px) {
          width: 51.15%;
          align-items: flex-start;
          text-align: left;
          padding-bottom: 117px;
        }
      }
      &__heading {
        font-family: "Nova-700";
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        margin-bottom: 30px;
        @media (min-width: 1024px) {
          font-size: 70px;
        }
      }
      &__box .banner__heading + * {
        margin-top: 0;
      }
      &__text {
        margin: 0 0 50px;
        p {
          font-family: "Nova-600";
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
          max-width: 585px;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
      &__buttons {
        width: 100%;
        margin: 0;
        justify-content: center;
        @media (min-width: 430px) {
          width: auto;
        }
        .my-custom-btn {
          line-height: 18px;
          width: 100%;
          padding: 15px 34px;
          opacity: 1;
          @media (min-width: 430px) {
            width: auto;
          }
          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
    &__image {
      width: 100%;
      max-width: 630px;
      @media (min-width: 1024px) {
        flex: 1 0 0;
      }
      @media (max-width: 1024px) {
        display: flex;
        justify-content: center;
      }
      @media (min-width: 1200px) {
        padding-right: 100px;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  &__control-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }
  .slider-counter__link {
    padding: 8px;
  }
  .slider-counter--dots {
    margin: 0 1.2rem;
    position: absolute;
    left: 15%;
    bottom: 73px;
    z-index: 10;
    @media (max-width: 1007px) {
      bottom: 35px;
      left: 3%;
    }
  }

  .slideshow__controls {
    border: none !important;
  }
  .slider-button {
    display: none !important;
  }
  .slideshow__autoplay.slider-button {
    display: none;
  }

  .slider-counter__link.slider-counter__link--dots.link {
    .dot {
      width: 6px;
      height: 6px;
      background: #fff;
      border: none;
      border-radius: 0;
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  .slider-counter__link.slider-counter__link--dots.link.slider-counter__link--active {
    .dot {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
  }
}

