.banner.banner-content.banner-img {
  .banner-innerr.banner-innerr-center {
    height: 580px;
    .page-width {
      width: 100%;
      justify-content: center;
      height: 100%;
      .banner-innerr__box {
        padding-top: 70px;
        text-align: center;
        &_heading {
          font-size: 50px;
          margin-bottom: 0px;
        }
        &_text {
          margin-bottom: 35px;
          margin-top: 5px;
          max-width: 442px;
          text-align: center;
          background-image: linear-gradient(90deg, transparent 85%, #fff 0);
          background-position: 5px 7px;
          background-repeat: no-repeat;
          background-size: 52% 1px;
          font-weight: 600;
          padding-top: 23px;
        }
      }
      .banner-innerr__box_button {
        display: flex;           
        padding: 0;      
        align-items: center;      
        justify-content: center;
        height: 50px;
        margin-top: 35px;
        .my-custom-btn {
          text-align: center;
          font-family: "Nova-700";
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
  }
}

