// start image-banner-content
.banner-innerr.theway {
  .page-width {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 71px;
    padding-top: 71px;
    .banner-innerr__hero-image {
      max-width: 246px;

      img {
        margin: 0;
        max-width: 246px;
        width: 100%;
      }
    }
    .banner-innerr__box {
      max-width: 269px;
      text-align: center;
      padding-top: 20px;
      &_text {
        font-family: "Nova-400";
        font-size: 20px;
        letter-spacing: 0;
        line-height: 32px;
        text-align: center;
        margin-bottom: 40px;
      }
      &_button {
      }
    }
  }
}
// end image-banner-content
