.banner-background {
  .page-width {
    .two-images__wrapper {
      display: flex;
      width: 100%;
      padding: 65px 0;
      &_left {
        width: 50%;
        .banner-img__left {
          .image {
            max-width: 882px;
          }
        }
      }
      &_right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 118px 0 121px 0;

        .banner-img__right {
          max-width: 630px;

          .image {
            width: 100%;
          }
        }
        .my-custom-btn {
          letter-spacing: 0;
          padding: 13px 34px;
          text-align: center;
          font-family: 'Nova-700';
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media screen and (max-width: 1369px) {
  .banner-background {
    .page-width {
      .two-images__wrapper {
        flex-wrap: wrap;
        &_left {
          width: 100%;
          .banner-img__left {
            .image {
              width: 100%;
              text-align: center;
            }
          }
        }
        &_right {
          width: 100%;
        }
      }
    }
  }
}

// the win
.banner.product-thewin {
  .banner-inner-music {
    padding: 71px 0;
    .banner-music-wrapper {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .banner-innerr__box {
        align-items: center;
        display: flex;
        flex-direction: column;
        &_title {
        }
        &_heading {
        }
        &_text {
          font-family: 'Nova-400';
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 0;
          line-height: 32px;
          max-width: 296px;
          text-align: center;
          padding-top: 11px;
        }
        my-custom-btn{
          letter-spacing: 0;
          margin-top: 20px;   
          text-align: center;
          font-family: 'Nova-700';
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;  
        }
      }
      .banner-innerr__hero-image {
        max-width: 246px;
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }
}
// 

.my-custom-btn {
  font-family: 'Nova-700';
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  height: 50px;
  padding: 0 35px;
  cursor: pointer;
  transition: color 0.3s, background 0.3s;
}
