.weekly-videos {
  padding: 60px 0 119px 0;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    row-gap: 28px;
    justify-content: center;
    &_video-card {
      max-width: 410px;
      padding: 20px;
      box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);

      .img-wrapper {
        max-width: 370px;
        width: 100%;
        margin-bottom: 12px;
        position: relative;
        display: inline-block;
      }
      .video-card_img {
        max-width: 370px;
        width: 100%;
        height: auto;
      }
      .image-youtube {
        cursor: pointer;
        height: auto;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .video-block__content {
        font-family: "Nova-700";
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #1d2228;
        margin-left: 1px;
        text-transform: uppercase;
        margin-bottom: 12px;
        margin-top: 0px;
        P {
          margin: 0;
        }
      }
      .video-block__wrapper-link {
        display: flex;
        gap: 16px;
        justify-content: start;
        align-items: center;
        &_link {
          font-family: "Nova-400";
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0em;
          text-align: left;
          color: #1d2228;
          text-decoration: underline !important;
          text-decoration-thickness: 0.5px;
          text-underline-offset: 4px;
          :hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 911px) {
  .weekly-videos {
    padding: 15px 0 90px;
    &__wrapper {
      gap: 12px;
      row-gap: 15px;
      width: 100%;
      justify-content: center;
      &_video-card {
        width: 48%;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .weekly-videos {
    &__wrapper {
      &_video-card {
        padding: 5px;
        .video-block__content {
          font-size: 12px;
          line-height: 17px;
        }
        .image-youtube {
          max-width: 45px;
        }
        .img-wrapper {
          margin-bottom: 5px;
        }
        .video-block__wrapper-link_link {
          font-size: 12px;
          line-height: 12px;
          text-underline-offset: 1px;
        }
      }
    }
  }
}
