@import "../mixins/media.scss";

body {
  color: rgb(var(--color-foreground));
  min-width: 320px;
}

.page-width {
  padding: 0 2rem;

  @include sm {
    max-width: calc(var(--page-width) + 3rem * 2);
    padding: 0 2.9rem;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 16px;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}

// 

.custom-featured-product .product__info-wrapper .wrapper-baton-and-quantity .quantity {
  border: 1px solid #c1c1c1;
  height: 50px;
  /* width: 93px; */
  padding: 0 11px;
}


.quantity {

  width: calc(9rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
  
}

.custom-featured-product .product__info-wrapper .wrapper-baton-and-quantity .quantity .quantity__button {
  /* width: 37px; */
  /* padding: 0 10px; */
  /* padding-right: 10px; */
}

.quantity__button:not(:focus-visible):not(.focused), .quantity__input:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
  max-width: max-content;
  width: 100%;
}

.quantity__button:not(:focus-visible):not(.focused), .quantity__input:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
  max-width: max-content;
  width: 100%;
}