<section class="site-map__wrapper page-width">
<h1 class="title-page">Site Map</h1>
{% for page in pages %}
  <li class="site-map__wrapper_pages"><a class="site-map__wrapper_pages_heading-link" href="{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</section>
{% schema %}
{
  "name": "Site Map",
  "tag": "section",
  "class": "site-map",
  "settings": [
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Site Map"
    }
  ]
}
{% endschema %}
