@import "../mixins/media.scss";

#react-app-ext:empty {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a:not(.button) {
    font-weight: inherit;
  }
}


.h1,
h1,
.h2,
h2 {
  letter-spacing: 0;
}

.h1,
h1 {
  font-size: 2.4rem;
  line-height: 1.5;

  @include sm {
    font-size: 3rem;
  }
}

.h2,
h2 {
  font-size: 1.6rem;
  line-height: 1.5;

  @include sm {
    font-size: 1.8rem;
  }
}

.h3,
h3 {
  font-size: 1.6rem;
  line-height: 1.5;

  @include sm {
    font-size: 1.6rem;
  }
}


a:not(.button) {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}





