@import "../mixins/media.scss";

#react-app-ext:empty {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a:not(.button) {
    font-weight: inherit;
  }
}

a:not(.button) {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}





